# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
bower_components/

# Angular build artifacts
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db

# Compiled output
*.out
*.exe
*.app

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Compiled Typescript
*.tsbuildinfo

# Angular specific
.angular/
.angular/cache/

# Karma test coverage
coverage/
